button{
  font-family: "Marker Felt", fantasy;
  color:#cc0052;
  border-radius:20%;
  font-size:15px;
  padding:10px;
  background-color: white;
}
p{
  display:inline-block;
  font-size:20px;
  margin:20px;
}
#todo-list{
  display:flex;
  flex-direction:column;
  width:400px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.completed{
  color:grey;
}
.toDoTask{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:400px;
  border-bottom: 1px dotted #cc0052;
}

.checkbox{
  color:green;
  justify-self:flex-start;
  height: 35px;
  align-self:center;
}
.deleteBtn{
  color:red;
  font-weight: bolder;
  justify-self:flex-end;
  align-self:center;
  height: 35px;
}
